@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
.Cat_mobile_wrap {
  display: none;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 877px) {
  .Cat_mobile_wrap {
    display: flex;
    /* background-image: url(../video/backgroundtry.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 0, 0, 0);
  }
  /* .itemandicon {
    color: rgb(83, 86, 104);
    text-decoration: none;
    cursor: pointer;
  } */

  .mobileCategory {
    background-color: transparent;
    display: grid;
    justify-content: space-around;
    text-align: center;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: rgb(156, 166, 192);
    padding-left: 8px;
  }
  .itemandicon {
    display: flex;
    justify-content: left;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    color: rgb(83, 86, 104);
    text-decoration: none;
    cursor: pointer;
  }
  .itemandicon__active {
    display: flex;
    justify-content: left;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    color: rgb(83, 86, 104);
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0);
  }
  /* .Cat_mobile_one {
    display: flex;
    justify-content: space-around;
    padding: 5px 0px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    border: 0px solid rgb(199, 199, 199);
  }

  .First_row_one {
    display: flex;
    justify-content: space-evenly;
    padding: 4px 20px;
    margin: 2px 0px;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
  }
  .First_row_two {
    display: flex;
    justify-content: space-evenly;
    padding: 4px 20px;
    margin: 2px 0px;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
  } */
}
