@media only screen and (max-width: 580px) {
  .dev_title_mobile {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 800;
    font-size: 35px;
    padding: 10px;
    padding-right: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: rgb(59, 59, 59);
    color: rgb(246, 246, 246);
    border-bottom: 1px solid rgb(59, 59, 59);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* border-bottom: none; */
  }
}
