@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");

.clip {
  -webkit-clip-path: (5% 20% 82% 10%);
  clip-path: (5% 20% 82% 10%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* justify-content: space-evenly; */
  align-items: center;
  height: 90px;
  background-image: url(../video/backgroundtry.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 11px 15px -1px rgba(0, 0, 0, 0.91);
  box-shadow: 0px 11px 15px -1px rgba(0, 0, 0, 0.91);
  z-index: -3;
}
.topOfClip {
  color: rgb(255, 255, 255);
  display: flex;

  /* align-items: center; */
  justify-content: center;
  /* border: 1px solid white; */

  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.alignItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 20px;
  margin: 6px 0px;
}

.topOfClip__active {
  background-color: green;
}

.clip_wrapper1 {
  display: flex;
  background-color: rgba(114, 108, 72, 0);
  justify-content: space-around;
  padding-left: 15px;
}
.clip_wrapper2 {
  display: flex;
  background-color: rgba(114, 108, 72, 0);
  justify-content: space-around;
}

.lastThree_wrap {
  /* flex-wrap: wrap; */
}

@media only screen and (max-width: 878px) {
  .clip {
    display: none;
  }
}
